@{
    @model UserRosterViewModel
    ViewData["Title"] = $"My {ControllerConstants.ClubAreaName}";
    ViewData["ActivePage"] = PagesConstants.Rosters;

    var subs = new List<RosterPlayerViewModel>();
    int points = 0;

    if (Model.Roster != null)
    {
        subs = Model.Roster.Players.Where(x => !x.Selected).ToList();
        points = Model.Roster.Players.Where(x => x.Selected).Sum(x => x.CurrentPoints);
    }
    var allFormations = Enum.GetNames(typeof(Formation));
    List<SelectListItem> formationsList = new List<SelectListItem>();
    foreach (var f in allFormations)
    {
        formationsList.Add(new SelectListItem { Value = f, Text = f.Replace(ScoreConstants.Formation, "") });
    }
}

<h1>@Model.ClubName</h1>
<h4>Manage your team</h4>
@if (Model.TransferWindowStatus == TransferWindowStatus.Opened)
{
    if (Model.RostersWeeks.Any())
    {
        <a asp-controller="@PagesConstants.Transfers" asp-action="@ActionConstants.Index" class="btn btn-primary">
            <span class="oi oi-transfer"></span>
        </a>
    }
    else
    {
        <a asp-controller="@PagesConstants.Rosters" asp-action="@ActionConstants.Create" class="btn btn-primary">
            <span class="oi oi-pencil"></span>
        </a>
    }
}
<div class="alert-light rounded p-3 my-2">
    <h5 class="p-0 m-0">
        <span class="text-uppercase">Note:</span>
        If your roster is over budget, the points accumulated from that matchday WILL NOT be taken into account!
    </h5>
</div>
<hr />
<div class="d-flex justify-content-between">
    <h4 class="pb-2">
        Points: @points P
    </h4>
    <h4>
        Budget Left: @(Model.Roster == null ? GlobalConstants.Budget : Model.Roster.Budget)M
    </h4>
</div>
<div class="row">
    <div class="col-md-8 dashboard-item mb-3">
        <partial name="~/Areas/Club/Views/Shared/_RosterPartial.cshtml" model="@Model.Roster" />

        @if (Model.Roster != null && Model.TransferWindowStatus == TransferWindowStatus.Opened)
        {
            <div class="card bundesliga-box-shadow mb-3">
                <h5 class="card-header bundesliga-bg-color text-white">Edit Lineup</h5>
                <div class="card-body p-3">
                    <form class="form-matchday" asp-controller="@PagesConstants.Rosters" asp-action="@ActionConstants.Edit" method="get">
                        <div class="d-flex justify-content-lg-around">
                            <div class="mr-3">Select Formation:</div>
                            <select class="form-control mr-3" asp-for="Roster.Formation" asp-items="formationsList"></select>
                            <div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>

    <div class="col-md-4 dashboard-item">
        <div class="card bundesliga-box-shadow mb-3">
            <h5 class="card-header bundesliga-bg-color text-white">Substitutions: @subs.Count</h5>
            <div class="card-body p-3">
                <div class="row d-flex justify-content-between">
                    <partial name="~/Areas/Club/Views/Shared/_SubsPartial.cshtml" model="@subs" />
                </div>
            </div>
        </div>
        <div class="card bundesliga-box-shadow mb-3">
            <h5 class="card-header bundesliga-bg-color text-white">Previous rosters</h5>
            <div class="card-body p-3">
                <form class="form-matchday" asp-controller="@PagesConstants.Rosters" asp-action="@ActionConstants.Details">
                    <div class="d-flex justify-content-lg-around">
                        <div class="mr-3">Select Matchday:</div>
                        @Html.DropDownListFor(
                     x => x.MarchdayWeek,
                     new SelectList(Model.RostersWeeks),
                     new { @class = HtmlCssConstants.FormControl + HtmlCssConstants.Mr3 })
                        <div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>