@{
    @model IList<PlayerStatsViewModel>
}

<table id="table_players" class="table table-hover text-center">
    <thead>
        <tr>
            <th>#</th>
            <th>Image</th>
            <th>Name</th>
            <th>Team</th>
            <th>Position</th>
            <th>APs</th>
            <th>Price</th>
            <th>TP</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td><img class="mini-image" src="@Model[i].PlayerImage" /></td>
                    <td>
                        @Model[i].Name
                    </td>
                    <td>
                        @Model[i].TeamName
                    </td>
                    <td>
                        @Model[i].Position
                    </td>
                    <td>
                        @Model[i].Appearances
                    </td>
                    <td>
                        @Model[i].Price
                    </td>
                    <td>
                        @Model[i].TotalPoints
                    </td>
                    <td id="player_div_@Model[i].Id">
                        <div id="player_info_@Model[i].Id" class="@HtmlCssConstants.None">
                            <div id="player_id_@Model[i].Id" class="@HtmlCssConstants.None ">@Model[i].Id.ToString()</div>
                            <div id="player_position_@Model[i].Id" hidden>@Model[i].Position</div>
                            <div id="player_price_@Model[i].Id" hidden>@Model[i].Price</div>
                            <div class="row mb-3">
                                <div class="col-md-9">
                                    <input class="form-control" asp-for="@Model[i].Name" disabled />
                                </div>
                                <div class="col-md-3 pl-0">
                                    <a role="button" class="btn btn-primary text-white" onclick="moveButton('@Model[i].Id')">
                                        <span class="oi oi-minus"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="button-holder d-flex justify-content-center">
                            <a id="add_button_@Model[i].Id" role="button" class="btn btn-primary text-white" onclick="moveButton('@Model[i].Id')">
                                <span class="oi oi-plus"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#table_players').DataTable({
            "responsive": true,
            "scrollY": 400,
            "paging": false,
            "keys": true
        });
       
    });

    function moveButton(id) {
        var elem = document.getElementById('player_info_' + id);
        var position = document.getElementById('player_position_' + id);
        var price = parseFloat(document.getElementById('player_price_' + id).innerHTML);

        var divPosition = '';
        switch (position.innerHTML) {
            case 'Goalkeeper':
                divPosition = 'gks';
                break;
            case 'Defender':
                divPosition = 'dfs';
                break;
            case 'Midfielder':
                divPosition = 'mfs';
                break;
            case 'Attacker':
                divPosition = 'ats';
                break;
        }

        var slotsLeft = document.getElementById(divPosition + '_count');
        var button = document.getElementById('add_button_' + id);
        var budgetLeft = document.getElementById('budget');
        var playerId = document.getElementById('player_id_' + id);

        if ($(elem).parent().prop('nodeName') == "TD") {

            if (slotsLeft.innerHTML - 1 > -1) {
                $(elem).detach().appendTo('#' + divPosition);
                $(elem).removeClass("@HtmlCssConstants.None");
                $(button).addClass("@HtmlCssConstants.Disabled");
                $(playerId).addClass(" ids");
                slotsLeft.innerHTML--;
                budgetLeft.innerHTML = parseFloat(budgetLeft.innerHTML) - price;
            }
        }
        else {
            slotsLeft.innerHTML++;
            budgetLeft.innerHTML = parseFloat(budgetLeft.innerHTML) + price;
            $(playerId).removeClass(" ids");
            $(elem).detach().appendTo('#player_div_' + id);
            $(elem).addClass("@HtmlCssConstants.None");
            $(button).removeClass("@HtmlCssConstants.Disabled");
        }
    }
</script>
