@{
    @model FixtureStatsViewModel
    for (int i = 0; i < Model.HomePlayers.Count; i++)
    {
        Model.Scores.Add(new ScoreViewModel { PlayerId = Model.HomePlayers[i].Id });
    }

    for (int i = 0; i < Model.AwayPlayers.Count; i++)
    {
        Model.Scores.Add(new ScoreViewModel { PlayerId = Model.AwayPlayers[i].Id });
    }
}


@using (Html.BeginForm())
{
    <input asp-for="@Model.Id" value="@Model.Id" hidden>
    <table class="table w-25 h-25 table-hover">
        <thead>
            <tr class="row">
                <th class="col-md-1">#</th>
                <th class="col-md-4">Name</th>
                <th class="col-md-1">Goals</th>
                <th class="col-md-1">Shots</th>
                <th class="col-md-1">Assists</th>
                <th class="col-md-1">Tackles</th>
                <th class="col-md-1">Yellow Cards</th>
                <th class="col-md-1">Red Cards</th>
                <th class="col-md-1">Played Minutes</th>
            </tr>
        </thead>
        <tbody>
            @{
                for (int i = 0; i < Model.HomePlayers.Count; i++)
                {
                    <tr class="row">
                        <td class="col-md-1">@(i + 1)</td>
                        <td class="col-md-4">
                            @Html.HiddenFor(
                                f => f.Scores[i].PlayerId)
                            @Model.HomePlayers[i].Name
                        </td>
                        <td class="col-md-1">
                            @Html.TextBoxFor(
                                f => f.Scores[i].Goals,
                                new {
                                    @id = TagConstants.Goals +i,
                                    @class = HtmlCssConstants.FormControl,
                                    @type = HtmlCssConstants.InputNumer,
                                    @value = "0"
                                })
                        </td>
                        <td class="col-md-1">
                            @Html.TextBoxFor(
                                f => f.Scores[i].Shots,
                                new {
                                    @id = TagConstants.Shots + i,
                                    @class = HtmlCssConstants.FormControl,
                                    @type = HtmlCssConstants.InputNumer,
                                    @value = 0
                                })
                        </td>
                        <td class="col-md-1">
                            @Html.TextBoxFor(
                                f => f.Scores[i].Assists,
                                new {
                                    @id = TagConstants.Assists + i,
                                    @class = HtmlCssConstants.FormControl,
                                    @type = HtmlCssConstants.InputNumer,
                                    @value = 0
                                })
                        </td>
                        <td class="col-md-1">
                            @Html.TextBoxFor(
                                f => f.Scores[i].Tackles,
                                new {
                                    @id = TagConstants.Tackles + i,
                                    @class = HtmlCssConstants.FormControl,
                                    @type = HtmlCssConstants.InputNumer,
                                    @value = 0
                                })
                        </td>
                        <td class="col-md-1">
                            @Html.TextBoxFor(
                                f => f.Scores[i].YellowCards,
                                new {
                                    @id = TagConstants.YellowCards + i,
                                    @class = HtmlCssConstants.FormControl,
                                    @type = HtmlCssConstants.InputNumer,
                                    @value = 0
                                })
                        </td>
                        <td class="col-md-1">
                            @Html.TextBoxFor(
                                   f => f.Scores[i].RedCards,
                                   new {
                                       @id = TagConstants.RedCards + i,
                                       @class = HtmlCssConstants.FormControl,
                                       @type = HtmlCssConstants.InputNumer,
                                       @value = 0
                                   })
                        </td>
                        <td class="col-md-1">
                            @Html.TextBoxFor(
                                   f => f.Scores[i].PlayedMinutes,
                                   new {
                                       @id = TagConstants.PlayedMinutes + i,
                                       @class = HtmlCssConstants.FormControl,
                                       @type = HtmlCssConstants.InputNumer,
                                       @value = 0
                                   })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div class="button-holder d-flex justify-content-center">
        <div>
            <button type="submit" class="btn btn-primary">Confirm All</button>
        </div>
    </div>
}