@{
    @model IList<ScorePlayerViewModel>

}

<table id="table_@Model.First().TeamId" class="table table-hover text-center">
    <thead>
        <tr>
            <th>#</th>
            <th>Image</th>
            <th>Name</th>
            <th>Position</th>
            <th>Goals</th>
            <th>Assist</th>
            <th>Shots</th>
            <th>Tackles</th>
            <th>Yellow cards</th>
            <th>Red cards</th>
            <th>Minutes</th>
        </tr>
    </thead>
    <tbody>
        @{
            for (int i = 0; i < Model.Count; i++)
            {
        <tr>
            <td>@(i + 1)</td>
            <td><img class="mini-image" src="@Model[i].PlayerImage" /></td>
            <td>
                @Model[i].PlayerName
            </td>
            <td>
                @Model[i].Position
            </td>
            <td>
                @Model[i].Goals
            </td>
            <td>
                @Model[i].Assists
            </td>
            <td>
                @Model[i].Shots
            </td>
            <td>
                @Model[i].Tackles
            </td>
            <td>
                @Model[i].YellowCards
            </td>
            <td>
                @Model[i].RedCards
            </td>
            <td>
                @Model[i].PlayedMinutes
            </td>
        </tr>
            }
        }
    </tbody>
</table>


<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#table_@Model.First().TeamId').DataTable();
    });
</script>