@{
    ViewData["Title"] = $"All {PagesConstants.Teams}";
    ViewData["ActivePage"] = PagesConstants.Teams;
    @model PaginatedList<TeamImageViewModel>
}

<h1>All Teams</h1>
<h4>Browse all Bundesliga teams for season 2018/2019</h4>
<hr>
<div class="row d-flex justify-content-center my-4-5">
    @{
        @for (int i = 0; i < Model.Count; i++)
        {
            var md = Model[i];

            if (i % 3 == 0 && i != 0)
            {
                @Html.Raw(@"</div><div class=""row d-flex justify-content-center my-4-5"">");
            }
            <div class="col-md-3">
                <partial name="~/Areas/Competition/Views/Shared/_TeamPartial.cshtml" model="md" />
            </div>
        }
    }

</div>
<div class="d-flex justify-content-center">
    <ul class="pagination pagination-lg">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @((Model.PageIndex==i)?"active":null)">
                <a asp-controller="@PagesConstants.Teams"
                   asp-action="@ActionConstants.All"
                   asp-route-pageIndex="@i"
                   class="page-link">
                    @i
                </a>
            </li>
        }
    </ul>
</div>