@{
    @model TeamPlayersViewModel
    ViewData["Title"] = Model.Name;
    ViewData["ActivePage"] = PagesConstants.Teams;

    var activePlayers = Model.Players.Where(x => x.Active).ToList();
    var archivedPlayers = Model.Players.Where(x => !x.Active).ToList();
    bool isAdmin = User.IsInRole(RoleConstants.AdminRoleName);
}

<h1>@Model.Name</h1>
@{
    <a asp-controller="@PagesConstants.Teams" asp-action="@ActionConstants.All" class="btn btn-outline-primary"><span class="oi oi-arrow-left"></span></a>
}
<hr>

<div class="bundesliga-box-shadow p-3 rounded table-responsive">

    <div class="d-flex justify-content-between">
        <h2 class="m-0">Active players</h2>
        @if (isAdmin)
        {
            <a asp-controller="@PagesConstants.Players" asp-action="@ActionConstants.Create" asp-route-teamId="@Model.Id" class="btn btn-primary">Add player</a>
        }
    </div>
    <hr />
    <partial name="~/Areas/Competition/Views/Shared/_PlayerStatsPartial.cshtml" model="@activePlayers" />
</div>
<hr class="bg-danger" />
<div class="bundesliga-box-shadow p-3 rounded table-responsive">
    <h2 class="m-0">Archived players</h2>
    <hr />
    <partial name="~/Areas/Competition/Views/Shared/_PlayerStatsPartial.cshtml" model="@archivedPlayers" />
</div>
